<!DOCTYPE html>
<html>
<head>
    <title>STAR CAFE - <%= title %>.</title>
    <meta charset="UTF-8">
    <meta name="description" content="An e commerce website that deals in watches!">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Joseph Wimalasuriya">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--https://cdnjs.com/libraries/font-awesome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/media_queries.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Caveat|Dosis&display=swap" rel="stylesheet">        
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="logo">
                <i class="far fa-clock"></i>
            </a>
  
            <ul class="links-navi">
                <li>
                    <a href="#" id="toggle-submenu">MENU</a>

                    <ul class="submenu">
                        <li><a href="category.html">BREAK FAST</a></li>
                        <li><a href="category.html">LUNCH</a></li>
                        <li><a href="category.html">DINNER</a></li>
                        <li><a href="category.html">DRINKS</a></li>
                        <li><a href="category.html">COFFEE</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </li>
                <li>
                    <a href="my_account.html">
                        MY ACCOUNT
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        SEARCH
                    </a>
                </li>                            
            </ul>

            <a href="#" class="resp-menu-close">
                <i class="fas fa-times"></i>
            </a>
            <a href="#" class="resp-menu-open">
                <i class="fas fa-bars"></i>
            </a>            

            <div class="clearfix"></div>
        </nav>
    </header>