#ignore node_modules folder
node_modules/
#ignore config.env file
config.env
#ignore .env file we created on repl.it
.env
#ignore the images folder because we are not storing the images on our server but on cloudinary
#public/img/
#ignore the dev-data folder
#dev-data/
#ignore the important folder
#important/
#ignore the .cache folder
.cache/
#ignore the .replit file
.replit
